<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.dao.SselectedCourseDao">
	<select id="selectSelectedCourseAll" resultType="S_selected_course">
		select sc.id as "id",s.id as "studentId.id",s.name as "studentId.name",
c.id as "classId.id",c.name as "classId.name",c.info as "classId.info",
s.password as "studentId.password",s.sex as "studentId.sex",
co.id as "courseId.id",co.name as "courseId.name",t.id as "teacherId.id",
t.name as "teacherId.name",t.sex as "teacherId.sex",t.title as "teacherId.title",
t.age as "teacherId.age",t.password as "teacherId.password",
co.max_student_num as "courseId.max_student_num",co.info as 
"courseId.info",co.selected_num as "courseId.selected_num"
from s_selected_course sc,s_student s,s_class c,
s_course co,s_teacher t where sc.student_id=s.id and 
sc.course_id=co.id and s.classId=c.id and co.teacher_id=t.id
	</select>
	<select id="selectSelectedCourseYes" resultType="S_selected_course">
		select sc.id as "id",s.id as "studentId.id",s.name as "studentId.name",
c.id as "classId.id",c.name as "classId.name",c.info as "classId.info",
s.password as "studentId.password",s.sex as "studentId.sex",
co.id as "courseId.id",co.name as "courseId.name",t.id as "teacherId.id",
t.name as "teacherId.name",t.sex as "teacherId.sex",t.title as "teacherId.title",
t.age as "teacherId.age",t.password as "teacherId.password",
co.max_student_num as "courseId.max_student_num",co.info as 
"courseId.info",co.selected_num as "courseId.selected_num"
from s_selected_course sc,s_student s,s_class c,
s_course co,s_teacher t where sc.student_id=s.id and 
sc.course_id=co.id and s.classId=c.id and co.teacher_id=t.id and s.id=#{sid}
	</select>
	<insert id="addSelectedCourse">
		insert into s_selected_course values(null,#{studentId.id},#{courseId.id})
	</insert>
	<delete id="removeSelectedCourse">
		delete from s_selected_course where student_id=#{sid} and
		course_id=#{cid}
	</delete>
</mapper>